<a href="https://colab.research.google.com/github/subrinakhan/Big-data-IoT-Lab/blob/main/practice_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python home
print("Hello, World!")

Hello, World!

In [ ]:
#Python Syntax
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
#Python Comments

#This is a comment
print("Hello, World!")
print("Good Morning Mam!") #This is a comment
"""
This is a comment
written in
more than just one line
"""
print("How are you!")

Hello, World!
Good Morning Mam!
How are you!

In [ ]:
#Variables

x = 5
y = "John"
print(x)
print(y)

#another
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

#casting(specific)
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

#type
x = 5
y = "John"
print(type(x))
print(type(y))

5
John
Sally
<class 'int'>
<class 'str'>

In [ ]:
#Variable Names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [ ]:
#Multiple Values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

#oneline
x = y = z = "Mango"
print(x)
print(y)
print(z)

#Unpack a Collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

Orange
Banana
Cherry
Mango
Mango
Mango
apple
banana
cherry

In [ ]:
#Output Variables
x = "Python is awesome"
print(x)

#multiple variables
x = "Morning"
y = "is"
z = "beautiful"
print(x, y, z)

#+ operator
x = "My name "
y = "is "
z = "subrina"
print(x + y + z)

#For numbers
x = 5
y = 10
print(x + y)

#different data types: use comma
x = 5
y = "John"
print(x, y)

Python is awesome
Morning is beautiful
My name is subrina
15
5 John

In [ ]:
#Global Variables
x = "awesome"
def myfunc():
  print("Python is " + x)
myfunc()

# a variable inside a function
x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)
myfunc()
print("Python is " + x)

Python is awesome
Python is fantastic
Python is awesome

In [ ]:
#Python Numbers
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print (x,y,z)

1 2.8 1j

In [ ]:
#Specify a Variable Type ( python casting)
x = float(1)     # x will be 1.0
y = int(2.8) # y will be 2
z = str(3.0)  # z will be '3.0'
print (x,y,z)

1.0 2 3.0

In [ ]:
#Python Strings
a = "Hello, World!"
print(a[1])

a = "Hello, World!"
print(len(a))

#Check String
txt = "The best things in life are free!"
print("free" in txt)

#if statement:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

e
13
True
No, 'expensive' is NOT present.

In [ ]:
#Slicing
b = "Hello, World!"
print(b[2:5])

b = "Hello, World!"
print(b[2:])

b = "Hello, World!"
print(b[-5:-2])

llo
llo, World!
orl

In [ ]:
#Modify Strings (Upper Case)
a = "Hello, World!"
print(a.upper())

#Lower Case
a = "Hello, World!"
print(a.upper())

#Replace
a = "Hello, World!"
print(a.replace("H", "J"))

#Remove Whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

#Split String
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

HELLO, WORLD!
HELLO, WORLD!
Jello, World!
Hello, World!
['Hello', ' World!']

In [ ]:
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

#space between
a = "Hello"
b = "World"
c = a + " " + b
print(c)

HelloWorld
Hello World

In [ ]:
#Escape Characters
#format
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

My name is John, and I am 36
I want 3 pieces of item 567 for 49.95 dollars.